:root {
    --primary-colour: #007bff;
    --secondary-colour: #0056b3;
    --background-colour: #f0f0f0;
    --text-colour: #333;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-colour);
    color: var(--text-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 600px;
    overflow: hidden;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

button, .link-button {
    background-color: var(--primary-colour);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

button:hover, .link-button:hover {
    background-color: var(--secondary-colour);
}

input[type="file"], input[type="text"] {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#captured-image, #video-container img {
    border: 1px solid var(--primary-colour);
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;
    max-width: 320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-button {
    margin-top: 20px;
}


#camera-container, #video, #canvas {
    width: 100%;
    max-width: 100%;
    height: auto; 
    margin: 0 auto; 
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#captured-image {
    width: 100%;
    max-width: 320px;
    height: auto;
    border: 1px solid var(--primary-colour);
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
